body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #b3e0ff, #004d99); /* Gradient from light blue to dark blue */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Scale background image to cover the entire screen */
    height: 100%;
}
.left-container {
    position: fixed;
    top: 0;
    left: -265px; /* Initially off-screen to the left */
    height: 100vh; /* Extend from top to bottom of the viewport */
    width: 300px; /* Adjust width as needed */
    background-color: rgba(0, 0, 0, 0.8); /* Dark blue background with 80% opacity */
    color: #ffffff; /* White text */
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in width calculation */
    transition: left 0.3s ease; /* Smooth transition effect */
    overflow-y: auto; /* Add scrollbars if content overflows */
}

.left-container::-webkit-scrollbar {
    width: 0; /* Set width of scrollbar */
    background: transparent;
}

.left-container h3 {
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px; /* Add margin to separate from other elements */
    margin-left: 20px;
    margin-right: 20px;
}

/* User container */
.user-container {
    height: 250px; /* Set a fixed height for the user container */
    text-align: center;
}

/* Favorite container */
.favorite-container {
    height: 265px; /* Set a fixed height for the favorite container */
    text-align: center;
}

/* Recent container */
.recent-container {
    height: 400px; /* Set a fixed height for the recent container */
    text-align: center;
}


.left-container p {
    font-size: 16px;
    color: white; /* Example color */
    margin: 20px 0; /* Example margin */
    /* Add any other styles you'd like */
}


.left-container.visible {
    left: 0; /* Move to the visible position */
}

/* Toggle button */
.toggle-button {
    position: fixed; /* Position the button absolutely within the container */
    top: 48%; /* Align the button vertically in the middle */
    left: 45px; /* Align the button 20px from the right edge */
    transform: translateY(-50%); /* Center the button vertically */
    background-color: black;
    color: #ffffff; /* White text */
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: left 0.3s ease; /* Smooth transition effect */
}

.toggle-button.visible {
    left: 310px; /* Move the button to the right edge of the container */
}

.toggle-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



.container {
    max-width: 100%;
    margin: 10px auto;
    background-color: rgb(25, 33, 48);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff; /* White text */
}

.double-container {
    max-width: 100%;
    margin: 10px auto;
    background-color: rgb(25, 33, 48);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff; /* White text */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-container {
    padding: 0px;
    max-width: 100%;
    margin: 10px auto;
    font-size: 14px;
    position: relative;
    display: flex; /* Use flexbox to place items next to each other */
    justify-content: space-between; /* Add space between items */
}

.plot-container {
    background-color: rgb(25, 33, 48);
    padding: 0px;
    max-width: 100%;
    padding: 20px;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 14px;
    position: relative;
    height: 300px;
    z-index: 1;
    border-radius: 8px;
}

.container-left {
    flex: 1;
    text-align: center;
}

.container-right {
    flex: 1;
    text-align: center;
}

.container h1 {
    margin: 0;
    color: inherit;
}
    
h1 {
    color: white; /* Dark gray text */
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    border: 1px solid #cccccc; /* Light gray border */
}

button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green button */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#weatherInfo {
    margin-top: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px; /* Blue link color */
    text-decoration: none;
}

.logout-a {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.edit-a {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-a {
    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Existing styles */

table {
    border-collapse: collapse;
    color: black;
    border: 3px solid black;
    margin: 0 auto;
    width: 80%;
}

thead th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    border: 1px solid #dddddd;
    padding: 8px;
    background-color: white;
}

img {
    height: auto;
    border: solid 2px white;
}

.main-container {
    max-width: 40%;
    margin: 10px auto;
    background-color: rgb(25, 33, 48);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff; /* White text */
}
.main-container.visible {
    right: 50%; /* Move to the visible position */
}

.day-container {
    background-color: #ffffff;
    padding: 10px;
    width: calc(100% / 7 - 20px); /* Divide the width equally among 7 containers and adjust for margin */
    font-size: 7px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-top: 0px;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
    cursor: pointer;
}

.day-container:hover {
    background-color: lightblue; /* Change background color on hover */
}

.day-container p {
    font-size: 12px; /* Override the font-size */
    color: #000000; /* Override the color */
}

#plot-container .modebar-container {
    display: none !important;
}

