body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #b3e0ff, #004d99); /* Gradient from light blue to dark blue */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Scale background image to cover the entire screen */
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background-color: rgb(25, 33, 48);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.login-container h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"], .login-container input[type="password"], .login-container input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: green;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
}

.login-container p a {
    color: #007bff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px; /* Blue link color */
    text-decoration: none;
}