{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast Genius</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/newStyles.css' %}">
</head>
<body style="height: 100%;">
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <div class="main-container" style="margin-top: 50px; margin-bottom: 100px;">
        <div class="container">
            <h1><span id="locationHeader"></span></h1>
            <hr>
        </div>  
        <div class="container" style="margin-bottom: 0px;">
            <h1 style="margin-bottom: 0px;">Daily Weather for <span id="headerDate"></span></h1>
        </div>
        <div id="day-plot-container" class="plot-container" style="margin-top: 0px; padding-top: 0px;">
        </div>
        <div class="double-container">
            <div class="container-left">
                <h2>Sunset: <span id="sunset"></span></h2>
                <h2>Sunrise: <span id="sunrise"></span></h2>
            </div>
            <div class="container-right">
                <h2>Max temperature: <span id="maxtemp"></span></h2>
                <h2>Min temperature: <span id="mintemp"></span></h2>
            </div>
        </div> 
        <div class="container">
            <h1>Hourly weather</h1>
        </div>
        <div class="double-container">
            <div class="container-left">
                <table>
                    <tr>
                        <td><h2><span id="hour1"></span></h2></td>
                        <td><h2><span id="hourTemperature1"></span></h2></td>
                        <td><img id="hour1img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour2"></span></h2></td>
                        <td><h2><span id="hourTemperature2"></span></h2></td>
                        <td><img id="hour2img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour3"></span></h2></td>
                        <td><h2><span id="hourTemperature3"></span></h2></td>
                        <td><img id="hour3img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour4"></span></h2></td>
                        <td><h2><span id="hourTemperature4"></span></h2></td>
                        <td><img id="hour4img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour5"></span></h2></td>
                        <td><h2><span id="hourTemperature5"></span></h2></td>
                        <td><img id="hour5img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour6"></span></h2></td>
                        <td><h2><span id="hourTemperature6"></span></h2></td>
                        <td><img id="hour6img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour7"></span></h2></td>
                        <td><h2><span id="hourTemperature7"></span></h2></td>
                        <td><img id="hour7img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour8"></span></h2></td>
                        <td><h2><span id="hourTemperature8"></span></h2></td>
                        <td><img id="hour8img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour9"></span></h2></td>
                        <td><h2><span id="hourTemperature9"></span></h2></td>
                        <td><img id="hour9img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour10"></span></h2></td>
                        <td><h2><span id="hourTemperature10"></span></h2></td>
                        <td><img id="hour10img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour11"></span></h2></td>
                        <td><h2><span id="hourTemperature11"></span></h2></td>
                        <td><img id="hour11img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour12"></span></h2></td>
                        <td><h2><span id="hourTemperature12"></span></h2></td>
                        <td><img id="hour12img"></td>
                    </tr>  
                </table>
            </div>
            <div class="container-right">
                <table>
                    <tr>
                        <td><h2><span id="hour13"></span></h2></td>
                        <td><h2><span id="hourTemperature13"></span></h2></td>
                        <td><img id="hour13img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour14"></span></h2></td>
                        <td><h2><span id="hourTemperature14"></span></h2></td>
                        <td><img id="hour14img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour15"></span></h2></td>
                        <td><h2><span id="hourTemperature15"></span></h2></td>
                        <td><img id="hour15img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour16"></span></h2></td>
                        <td><h2><span id="hourTemperature16"></span></h2></td>
                        <td><img id="hour16img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour17"></span></h2></td>
                        <td><h2><span id="hourTemperature17"></span></h2></td>
                        <td><img id="hour17img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour18"></span></h2></td>
                        <td><h2><span id="hourTemperature18"></span></h2></td>
                        <td><img id="hour18img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour19"></span></h2></td>
                        <td><h2><span id="hourTemperature19"></span></h2></td>
                        <td><img id="hour19img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour20"></span></h2></td>
                        <td><h2><span id="hourTemperature20"></span></h2></td>
                        <td><img id="hour20img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour21"></span></h2></td>
                        <td><h2><span id="hourTemperature21"></span></h2></td>
                        <td><img id="hour21img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour22"></span></h2></td>
                        <td><h2><span id="hourTemperature22"></span></h2></td>
                        <td><img id="hour22img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour23"></span></h2></td>
                        <td><h2><span id="hourTemperature23"></span></h2></td>
                        <td><img id="hour23img"></td>
                    </tr>
                    <tr>
                        <td><h2><span id="hour24"></span></h2></td>
                        <td><h2><span id="hourTemperature24"></span></h2></td>
                        <td><img id="hour24img"></td>
                    </tr>
                </table>
                
            </div>

        </div>
    </div>
    <div id="navBar" class="left-container">
        <div class="user-container">
            <h2 style="margin-bottom: 30px;">FORECAST GENIUS</h2>
            <h3>Logged in as:</h3>
            <p id="username">{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <a class="logout-a" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="favorite-container">
            <h3>Favorite locations:</h3>
            <a class="nav-a"><span id="favoriteLocation1"></span></a>
            <a class="nav-a"><span id="favoriteLocation2"></span></a>
            <a class="nav-a"><span id="favoriteLocation3"></span></a>
            <a class="edit-a">Edit</a>
        </div>
        <div class="recent-container">
            <h3>Recent locations:</h3>
            <a class="nav-a"><span id="recentLocation1"></span></a>
            <a class="nav-a"><span id="recentLocation2"></span></a>
            <a class="nav-a"><span id="recentLocation3"></span></a>
            <a class="nav-a"><span id="recentLocation4"></span></a>
            <a class="nav-a"><span id="recentLocation5"></span></a>
            <a class="nav-a"><span id="recentLocation6"></span></a>
        </div>
    </div>
    <button class="toggle-button" id="toggleButton"><b>⟩</b></button>
    <script src="{% static 'main/utilities.js' %}"></script>
    <script src="{% static 'main/typescript.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            setupPage();
        });
    </script>
</body>
</html>