{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <h1>Welcome to weather app</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p>{{ full_name }}</p>
        <p>{{ user_email }}</p>
        <a>Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Weather App</b></p>
        <a>Home</a>
    </div>

    <div class="sub-container-wrapper">

        <div class="left-wrapper">

            <div class="sub-container">
                <h2>Current time</h2>
                <p id="currentTime"></p>
                <p id="currentDate"></p>
            
            </div>

            <div class="sub-container">
                <input type="text" id="locationInput" placeholder="Prague">
                <a onclick="submitLocation()">Get weather</a>
            </div>

            <div class="sub-container">
                <a>Save location</a>
            
            </div>


        </div>

        <div class="right-wrapper">

            <div class="sub-container">
                <h2><span id="locationHeader">Prague</span></h2>
                <p style="margin-bottom: 7px;"><span id="weatherDescription"></span></p>
                <img id="weatherIcon"><br>
                <p style="margin-top: 7px;">Temperature: <span id="temperature"></span> °C</p>
                <p>Humidity: <span id="humidity"></span> %</p>
                <p>Wind speed: <span id="windSpeed"></span> km/h</p>
                <p>Local date: <span id="localDate"></span></p>
                <p>Local time: <span id="localTime"></span></p>
                <a onclick="redirectToStats()">Additional Stats</a>
                

            </div>


        </div>



    </div>
    <div class="plot-container" id="plot"></div>
    <div class="forecast-container">
        <div class="day-container" style="margin-left: 0px;"></div>
        <div class="day-container"></div>
        <div class="day-container"></div>
        <div class="day-container"></div>
        <div class="day-container"></div>
        <div class="day-container"></div>
        <div class="day-container" style="margin-right: 0px;"></div>
    </div>
    <p>click on specific date to see more info</p>

    
    <script src="{% static 'main/script.js' %}"></script>

    <script>
        window.addEventListener('load', function() {
            submitLocation("Prague");
            createDateString();
            displayTime();
            displayDate();
        });
    </script>
</body>
</html>
