{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast Genius</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/newStyles.css' %}">
</head>
<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <div class="container" style="margin-top: 50px; width: 40%;" id="searchContainer">
        <input type="text" id="locationInput" placeholder="Enter city name">
        <button onclick="submitLocation()">Get Weather</button>
    </div>
    <div class="main-container" style="margin-bottom: 50px;">
    <div class="container">
        <h1><span id="locationHeader"></span></h1>
        <hr>
    </div>
    <div class="double-container">
        <div class="container-left">
            <h1>Current weather</h1>
            <h2><span id="weatherDescription"></span></h2>
            <img id="weatherIcon"><br>
            <h2>Temperature: <span id="headerTemperature"></span></h2>
        </div>
        
        <div class="container-right">
            <h1>Location info</h1>
            <table>
                <tr>
                    <td>Local date:</td>
                    <td><span id="localDate"></span></td>
                </tr>
                <tr>
                    <td>Local time:</td>
                    <td><span id="localTime"></span></td>
                </tr>
                <tr>
                    <td>Timezone:</td>
                    <td><span id="timezone"></span></td>
                </tr>
                <tr>
                    <td>UTC offset:</td>
                    <td><span id="utcOffset"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container" style="padding-top: 0px;">
        <h1 style="margin-bottom: 20px;">Current weather metrics</h1>
        <table>
            <tr>
                <td>Temperature:</td>
                <td><span id="temperature"></span></td>
            </tr>
            <tr>
                <td>Humidity:</td>
                <td><span id="humidity"></span></td>
            </tr>
            <tr>
                <td>Wind speed:</td>
                <td><span id="windSpeed"></span></td>
            </tr>
            <tr>
                <td>Precipitation:</td>
                <td><span id="precipitation"></span></td>
            </tr>
            <tr>
                <td>Pressure:</td>
                <td><span id="pressure"></span></td>
            </tr>
            <tr>
                <td>UV Index:</td>
                <td><span id="uvIndex"></span></td>
            </tr>
        </table>
    </div>
    <div class="double-container">
        <div class="container-left">
            <h1>Weather Forecast</h1>
            <h3><span id="day2"></span>: <span id="temperature2"></span></h3>
            <h3><span id="day3"></span>: <span id="temperature3"></span></h3>
            <a class="nav-a" onclick="redirectToForecast()">See full forecast</a>
        </div>
        
        <div class="container-right">
            <h1>Location info</h1>
            <p>See full weather metrics for date</p>
            <a class="nav-a" onclick="redirectToForecast()">Stats</a>
        </div>
    </div>
        
    </div>
    <div id="navBar" class="left-container">
        <div class="user-container">
            <h2 style="margin-bottom: 30px;">FORECAST GENIUS</h2>
            <h3>Logged in as:</h3>
            <p id="username">{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <a class="logout-a" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="favorite-container">
            <h3>Favorite locations:</h3>
            <a class="nav-a"><span id="favoriteLocation1"></span></a>
            <a class="nav-a"><span id="favoriteLocation2"></span></a>
            <a class="nav-a"><span id="favoriteLocation3"></span></a>
            <a class="edit-a">Edit</a>
        </div>
        <div class="recent-container">
            <h3>Recent locations:</h3>
            <a class="nav-a"><span id="recentLocation1"></span></a>
            <a class="nav-a"><span id="recentLocation2"></span></a>
            <a class="nav-a"><span id="recentLocation3"></span></a>
            <a class="nav-a"><span id="recentLocation4"></span></a>
            <a class="nav-a"><span id="recentLocation5"></span></a>
            <a class="nav-a"><span id="recentLocation6"></span></a>
        </div>
    </div>
    <button class="toggle-button" id="toggleButton"><b>⟩</b></button>
    <script src="{% static 'main/typescript.js' %}"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', async function () {
            const leftContainer = document.querySelector('.left-container');
            const toggleButton = document.getElementById('toggleButton');

            let isLeftContainerVisible = true; // Initially hidden

            toggleButton.addEventListener('click', function () {
                console.log('Button clicked');
                if (isLeftContainerVisible) {
                    leftContainer.classList.remove('visible');
                    toggleButton.innerHTML = '<b>⟩</b>';
                    toggleButton.classList.remove('visible');
                } else {
                    leftContainer.classList.add('visible');
                    toggleButton.innerHTML = '<b>⟨</b>';
                    toggleButton.classList.add('visible');
                }
                isLeftContainerVisible = !isLeftContainerVisible; // Toggle the visibility state
            });
            setTimeout(function() {
                const leftContainer = document.querySelector('.left-container');
                leftContainer.classList.add('visible');
                toggleButton.innerHTML = '<b>⟨</b>';
                toggleButton.classList.add('visible');
                isLeftContainerVisible = true;
            }, 10);
            const username = document.getElementById('username').textContent;
            await Promise.all([
                getAllData("Ostrava", username),
            ]);

            document.querySelector('.main-container').style.display = 'block';
            document.getElementById('searchContainer').style.display = 'block';
            document.querySelector('.loader-container').style.display = 'none';
        });

        function submitLocation() {
            const locationInput = document.getElementById('locationInput');
            const location = locationInput.value;
            console.log('Location:', location);
            getWeather(location);
            getLocationInfo(location);
            getForecastPlot(location);
            getForecastData(location);
            updateRecentLocations(location);
        }

        function updateRecentLocations(location) {
            const username = document.getElementById('username').textContent;
            const url = `/update-recent-locations/${username}/`;

            // Define the POST request options
            const options = {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')// Make sure to replace 'csrftoken' with the name of your CSRF token cookie
                },
                body: JSON.stringify({'location': location }) // Convert location to JSON string
            };

            // Make the POST request using fetch
            fetch(url, options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update recent locations');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    getRecentLocations(username);
                })
                .catch(error => {
                    console.error('Error:', error); // Log any errors
                    // Handle error
                });


        }

        function updateFavoriteLocations(username, locationData) {
            // Define the endpoint URL
            const url = `/update-favorite-locations/${username}/`;
            console.log(locationData);

            // Define the PATCH request options
            const options = {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Make sure to replace 'csrftoken' with the name of your CSRF token cookie
                },
                body: JSON.stringify(locationData) // Convert locationData to JSON string
            };

            // Make the PATCH request using fetch
            fetch(url, options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update favorite locations');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); // Log the response data
                    // Handle successful response
                })
                .catch(error => {
                    console.error('Error:', error); // Log any errors
                    // Handle error
                });
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift() || null;
            return null;
        }

        function redirectToForecast() {
            const location = document.getElementById('locationHeader').textContent;
            window.location.href = `/forecast/?location=${location}`;
        }

  
    </script>
</body>
</html>